
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-noto:'Noto Serif Bengali', serif;

    /* Keyframes only */
  @keyframes progressAnim {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
}


.more-read-btn{
 transition: all .5s;
}


.more-read-btn:hover{
  font-size: xx-small;
}


